@model test1.ViewModel.TodoViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Add</title>
    <link rel="stylesheet" href="~/Content/detail/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="~/Content/detail/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <div class="container">
                <div class="heading">
                    <h2>ADD NEW</h2>
                </div>
                @using (Html.BeginForm("add", "Todo", FormMethod.Post))
                {
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Tên công việc:</label></div>
                            @Html.TextBoxFor(model => model.tenCV, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Ngày bắt đầu:&nbsp;</label></div>
                            @Html.TextBoxFor(model => model.ngayBD, new { type = "date", @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Ngày kết thúc:&nbsp;</label></div>
                            @Html.TextBoxFor(model => model.ngayKT, new { type = "date", @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Người làm chung:</label></div>

                            <select class="form-control" multiple="multiple" name="partner" required="required">
                                @foreach (var record in Model.getAllAccount)
                                {
                                    <option value="@record.user_name">@record.user_name</option>
                                }
                            </select>
                            <input type="hidden" name="userid" value="@Model.userid" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Phạm vi : </label></div>
                            @Html.DropDownList("range", new List<SelectListItem>
                                     { new SelectListItem { Text = "private", Value = "private", Selected=true},
                                       new SelectListItem { Text = "public", Value = "public"},
                                       }, new { @class = "form-control" })
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col text-center"><button class="btn btn-primary" type="submit">ADD</button></div>
                            </div>
                        </div>

                }
            </div>



        </section>
    </main>
    <script>

    </script>

    <script src="~/Content/detail/assets/js/jquery.min.js"></script>
    
    <script src="~/Content/detail/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="~/Content/detail/assets/js/theme.js"></script>
</body>

</html>