@model test1.ViewModel.TodoViewModel
@{

    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Edit</title>
    <link rel="stylesheet" href="~/Content/comment.css">
    <link rel="stylesheet" href="~/Content/detail/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="~/Content/detail/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <div class="container">
                <div class="heading">
                    <h2>Chỉnh Sửa</h2>
                </div>
                @using (Html.BeginForm("edit", "TodoAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Tên Nhân Viên:</label></div>
                            @Html.TextBoxFor(model => model.username, new { @class = "form-control", disabled = "disabled" })
                            <input type="hidden" name="todo_id" id="todo_id" value="@Model.todo_id" />
                            <input type="hidden" name="user_id" id="userid" value="@Model.userid" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Tên công việc:</label></div>
                            @Html.TextBoxFor(model => model.tenCV, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Ngày bắt đầu:&nbsp;</label></div>
                            @Html.TextBoxFor(model => model.ngayBD, new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Ngày kết thúc:&nbsp;</label></div>
                            @Html.TextBoxFor(model => model.ngayKT, new { @class = "form-control", type = "date" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Người làm chung:</label></div>
                            <select class="form-control" multiple="multiple" name="partner">
                                @foreach (var record in Model.getAllAccount)
                                {
                                    if (record.user_name.Contains(Model.nguoilamchung))
                                    {
                                        <option value="@record.user_name" selected="selected">@record.user_name</option>
                                    }
                                    else
                                    {
                                        <option value="@record.user_name">@record.user_name</option>

                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Trạng thái:&nbsp;</label></div>
                            <select name="status" class="form-control" disabled="disabled">
                                <option value="0" @if (Model.trangthai == "0") { <text> selected="selected" </text> }>
                                    đang làm
                                </option>
                                <option value="1" @if (Model.trangthai == "1") { <text> selected="selected" </text> }>
                                    hoàn thành
                                </option>
                                <option value="-1" @if (Model.trangthai == "-1") { <text> selected="selected" </text> }>
                                    trễ
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col"><label class="col-form-label">Phạm vi : </label></div>
                           @* @Html.DropDownList("range", new List<SelectListItem>
                                     { new SelectListItem { Text = "private", Value = "private", Selected=true},
                                       new SelectListItem { Text = "public", Value = "public"},
                                       }, new { @class = "form-control" })*@
                        <select class="form-control" name="partner">

                            @if (Model.range.Equals("private"))
                            {
                                <option value="private" selected="selected">private</option>
                            }
                            else
                            {
                                <option value="private">private</option>
                            }
                            @if (Model.range.Equals("public"))
                            {
                                <option value="public" selected="selected">public</option>
                            }
                            else
                            {
                                <option value="public">public</option>
                            }



                        </select>
                        </div>
                    </div>
                    if (Model.filepath == "" || Model.filepath ==null)
                    {
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col"><label class="col-form-label">File : </label></div>
                                @Html.TextBox("file", "", new { type = "file", @class = "form-control" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col"><label class="col-form-label">File:</label></div>
                                <a href="@Url.Action("DownloadFile", "Todo", new { todo_id = @Model.todo_id })" target="_blank">
                                    @Model.filepath
                                </a>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col text-center"><button class="btn btn-primary" type="submit">Save</button></div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6">
                        <br />
                        <br />
                        <section class="comments" id="commentdata">
                            @foreach (var x in Model.listComment)
                            {
                                <article class="comment">
                                    <a class="comment-img" href="#non">
                                        <img src="https://pbs.twimg.com/profile_images/444197466133385216/UA08zh-B.jpeg" alt="" width="50" height="50">
                                    </a>
                                    <div class="comment-body">
                                        <div class="text">
                                            @x.content
                                        </div>
                                        <p class="attribution">by <a href="#non">@x.userName</a> at 14:23pm, 4 Dec 2015</p>
                                    </div>
                                </article>
                            }
                        </section>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <div class="widget-area no-padding blank">
                            <div class="status-upload">
                                <form>
                                    <textarea placeholder="What are you doing right now?" id="inputcomment" name="commentcontent"></textarea>
                                    <ul>
                                        <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
                                        <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                                        <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                                        <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                                    </ul>
                                    <button type="button" id="submitcomment" class="btn btn-success green"><i class="fa fa-share"></i> Comment</button>
                                </form>
                            </div><!-- Status Upload  -->
                        </div><!-- Widget Area -->
                    </div>
                </div>
            </div>

        </section>
    </main>
    <script src="~/Content/detail/assets/js/jquery.min.js"></script>
    <script src="~/Content/detail/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="~/Content/detail/assets/js/theme.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            var err = '';

            $('#submitcomment').click(function () {
                var data = {
                    user_id: $('#userid').val(),
                    todo_id: $('#todo_id').val(),
                    content: $('#inputcomment').val()
                };

                $.ajax({
                    url: "/Todo/comment",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (response) {

                        if (response.Success) {
                            var str = "<article class=\"comment\">" + "<a class=\"comment-img\" href=\"#non\">" + "<img src=\"https://pbs.twimg.com/profile_images/444197466133385216/UA08zh-B.jpeg\" alt=\"\" width=\"50\" height=\"50\"></a >";
                            str = str + "<div class=\"comment-body\"><div class=\"text\" >";
                            str = str + response.commentbody;
                            str = str + "</div><p class= \"attribution\" > by <a href = \"#non\" >";
                            str = str + response.username;
                            str = str + "</a > at 14: 23pm, 4 Dec 2015</p ></div ></article >";
                            $('#commentdata').append(str)
                            $('#inputcomment').text("");
                        }
                        else {
                            err = 'error';
                            $("#error").text(err);
                            return false;
                        }

                    },
                    error: function () {
                        console.log('error');
                    }
                });

            });
        });
    </script>
</body>

</html>